{% assign resume = site.data.resume %}

<script>
  // Hack to get a better name when printing the file to PDF
  document.title = "{{resume.header.name}}{{if resume.header.suffix}}, {{resume.header.suffix}}{{endif}} - {{resume.header.current_title}} - Resume";

  function JobDateDiff (start, end) {
      var startDays = new Date(start).getTime() / 1000 / 86400;
      var endDays = new Date(end).getTime() / 1000 / 86400;

      var daysDiff = endDays - startDays;

      var years = Math.floor(daysDiff / 365.25);
      var months = Math.round(daysDiff % 365.25 / 30.4375);

      document.write(`${years} yrs ${months} mos`);
  }
</script>

<link href="https://fonts.googleapis.com/css?family=Lora:400,700|Open+Sans:400,300,800,700" rel="stylesheet" type="text/css">
<link href="/css/resume.css" rel="stylesheet" type="text/css">

{% if resume.contact.phone %}<meta itemprop="telephone" content="{{ resume.contact.phone }}"/>{% endif %}
{% if resume.contact.address %}<meta itemprop="address" content="{{ resume.contact.address }}"/>{% endif %}

<header class="page-header">
  {% if site.gravatar_hash %}
    <img src="https://www.gravatar.com/avatar/{{ site.gravatar_hash }}?size=100" alt="my photo" class="avatar no-print" itemprop="image">
  {% endif %}
  <div class="header-title">
    <span class="header-name" itemprop="name">{{ resume.header.name }}</span>
    {% if resume.header.suffix %}
      <span class="header-suffix">, {{ resume.header.suffix }}</span>
    {% endif %}
  </div>
  {% if resume.header.display_contact_info %}
    <div class="header-contact-info">
      <p>{% for item in resume.contact %}<span>{{ item[1] }}{% if forloop.last %}{% else %} &bull; {% endif %}</span>{% endfor %}</p>
    </div>
  {% endif %}
  <div class="title-bar no-print">
    <h2 class="header-title" itemprop="jobTitle">{{ resume.header.current_title }}</h2>
    {% if resume.social %}
      <ul class="icon-links">
        {% for item in resume.social %}
          <li class="icon-link-item">
            <a href="{{ item[1] }}" class="icon-link" itemprop="sameAs" target="_blank">
              {% case item[0] %}
                {% when "GitHub"    %}<img src="/img/socialicons/github.svg">
                {% when "Twitter"   %}<img src="/img/socialicons/twitter.svg">
                {% when "Medium"    %}<img src="/img/socialicons/medium.svg">
                {% when "Dribbble"  %}<img src="/img/socialicons/dribbble.svg">
                {% when "Facebook"  %}<img src="/img/socialicons/facebook.svg">
                {% when "LinkedIn"  %}<img src="/img/socialicons/linkedin.svg">
                {% when "Instagram" %}<img src="/img/socialicons/instagram.svg">
                {% when "Website"   %}<img src="/img/socialicons/website.svg">
              {% endcase %}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
  <div class="executive-summary" itemprop="description"><p>{{ resume.header.intro }}</p></div>
  {% if resume.header.looking_for_work %}
    {% if resume.contact.email %}
      <a href="mailto:{{ resume.contact.email }}" class="contact-button no-print" itemprop="email">Contact me</a>
    {% endif %}
  {% else %}
    <a class="contact-button not-looking no-print">I'm not looking for work right now.</a>
  {% endif %}
</header>

{% if resume.sections.skills %}
  <section class="content-section">
    <header class="section-header"><h2>Skills</h2></header>
    {% for skill in site.data.skills %}
      <div class="resume-item">
        <h4 class="resume-item-details">{{ skill.skill }}</h4>
        <p class="resume-item-copy">
          {{ skill.description }}
        </p>
      </div>
    {% endfor %}
  </section>
{% endif %}

{% if resume.sections.experience %}
  <section class="content-section">
    <header class="section-header"><h2>Experience</h2></header>
    {% for job in site.data.experience %}
      {% assign positions = job.positions | sort_natural: "startdate" | reverse %}

      {% if positions.size > 1 %}
        {% assign jobfirstpos = positions | last %}
        {% assign joblastpos = positions | first %}

        {% assign jobStartDate = jobfirstpos.startdate | date: "%F" %}
        {% assign jobEndDate = joblastpos.enddate | default: 'now' | date: "%F" %}
      {% endif %}

      <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
        <img src="{{ job.logo }}" class="company-logo">

        <h3 class="resume-item-title" itemprop="name" style="display: inline-block;">
          {% if job.url %}<a href="{{ job.url }}" itemprop="url">{{ job.company }}</a>{% else %}{{ job.company }}{% endif %}
        </h3>

        {% if positions.size > 1 %}
          <div>
            <span>{{ jobfirstpos.startdate | date: "%b, %Y" }} &ndash; {{ joblastpos.enddate | date: "%b, %Y" | default: "Present" }}</span>
            <span> &bull; </span>
            <span><script>JobDateDiff("{{ jobStartDate }}","{{ jobEndDate }}")</script></span>
          </div>
        {% endif %}

        {% if job.summary %}
          <p>
            {{ job.summary }}
          </p>
        {% endif %}

        {% for position in positions %}
          {% assign posStartDate = position.startdate | date: "%F" %}
          {% assign posEndDate = position.enddate | default: 'now' | date: "%F" %}

          <div class="resume-job-position">
            <h4 class="resume-item-details" itemprop="description" style="display: inline-block; margin-bottom: 0px;">{{position.title }}</h4>
            <div style="display:inline;">
              <span> &bull; </span>
              <span>{{ position.startdate | date: "%b, %Y" }} &ndash; {{ position.enddate | date: "%b, %Y" | default: "Present" }}</span>
              <span> &bull; </span>
              <span><script>JobDateDiff("{{ posStartDate }}","{{ posEndDate }}")</script></span>
            </div>
            <p class="resume-item-copy">
              {{ position.summary }}
              {% if position.projects %}
                <ul class="resume-item-list">
                  {% for project in position.projects %}<li>{{ project }}</li>{% endfor %}
                </ul>
              {% endif %}
            </p>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </section>
{% endif %}

{% if resume.sections.recognition %}
  <section class="content-section">
    <header class="section-header"><h2>Recognition</h2></header>
    {% for recognition in site.data.recognitions %}
      <div class="resume-item">
        <h3 class="resume-item-title" itemprop="award">{{ recognition.award }}</h3>
        <h4 class="resume-item-details">{{ recognition.organization }} &bull; {{ recognition.year }}</h4>
        <p class="resume-item-copy">{{ recognition.summary }}</p>
      </div>
    {% endfor %}
  </section>
{% endif %}

{% if resume.sections.education %}
  <section class="content-section">
    <header class="section-header"><h2>Education</h2></header>
    {% for education in site.data.education %}
      <div class="resume-item" itemscope itemprop="alumniOf" itemtype="http://schema.org/CollegeOrUniversity">
        <h3 class="resume-item-title" itemprop="name">{{ education.uni }}</h3>
        <h4 class="resume-item-details group" itemprop="description">{{ education.degree }} &bull; {{ education.year }}</h4>
        <h5 class="resume-item-details award-title" itemprop="description">{{ education.award }}</h5>
        <p class="resume-item-copy" itemprop="description">
          {% if education.awards %}
            <ul class="resume-item-list">
              {% for award in education.awards %}<li>{{ award.award }}</li>{% endfor %}
            </ul>
          {% endif %}
        <p class="resume-item-copy">{{ education.summary }}</p>
      </div>
    {% endfor %}
  </section>
{% endif %}

{% if resume.sections.projects %}
  <section class="content-section">
    <header class="section-header"><h2>Personal Projects</h2></header>
    {% for project in site.data.projects %}
      <div class="resume-item" itemscope itemtype="http://schema.org/CreativeWork">
        <meta itemprop="creator" content="{{ site.author }}" itemtype="http://schema.org/Person" />
        <h3 class="resume-item-title" itemprop="name">{% if project.url %}<a href="{{ project.url }}" itemprop="url">{{ project.project }}</a>{% else %}{{ project.project }}{% endif %}</h3>
        <h4 class="resume-item-details" itemprop="description">{{ project.role }}  &bull; {{ project.duration }}</h4>
        <p class="resume-item-copy">{{ project.description }}</p>
      </div>
    {% endfor %}
  </section>
{% endif %}

{% if resume.sections.associations %}
  <section class="content-section">
    <header class="section-header"><h2>Associations</h2></header>
    {% for association in site.data.associations %}
      <div class="resume-item" itemscope itemprop="memberOf" itemtype="http://schema.org/Organization">
        <h3 class="resume-item-title" itemprop="name">{% if association.url %}<a href="{{ association.url }}">{{ association.organization }}</a>{% else %}{{ association.organization }}{% endif %}</h3>
        <h4 class="resume-item-details" itemprop="description">{{ association.role }} &bull; {{ association.year }}</h4>
        <p class="resume-item-copy">{{ association.summary }}</p>
      </div>
    {% endfor %}
  </section>
{% endif %}

{% if resume.sections.interests %}
  <section class="content-section">
    <header class="section-header"><h2>Outside Interests</h2></header>
    <div class="resume-item">
      {{ site.data.interests.description }}
    </div>
  </section>
{% endif %}

{% if resume.sections.links %}
  <section class="content-section">
    <header class="section-header"><h2>Additional Links</h2></header>
    <div class="resume-item">
      <ul class="resume-item-list">
        {% for link in site.data.links %}<li><a href="{{ link.url }}" itemprop="url">{{ link.description }}</a></li>{% endfor %}
      </ul>
    </div>
  </section>
{% endif %}

{% if resume.sections.social_links %}
  <section class="content-section">
    <header class="section-header"><h2>Social Links</h2></header>
    <div class="resume-item">
      {% if resume.social %}
        <ul class="resume-item-list">
          {% for item in resume.social %}<li><strong>{{ item[0] }}</strong>: <a href="{{ item[1] }}" target="_blank">{{ item[1] }}</a></li>{% endfor %}
        </ul>
      {% endif %}
    </div>
  </section>
{% endif %}

{% comment %}
<footer class="page-footer">
  <p class="footer-line">Made by <a href="http://twitter.com/jglovier">@jglovier</a>. Fork me on <a href="https://github.com/jglovier/resume-template">GitHub</a>.</p>
  <p class="footer-line">If this is your live resume, you can modify or remove this part. ;-)</p>
</footer>
{% endcomment %}
