---
layout: default
---
<link href="https://fonts.googleapis.com/css?family=Lora:400,700|Open+Sans:400,300,800,700" rel="stylesheet" type="text/css">
<link href="/css/resume.css" rel="stylesheet" type="text/css">

{% if site.resume.contact.phone %}<meta itemprop="telephone" content="{{ site.resume.contact.phone }}"/>{% endif %}
{% if site.resume.contact.address %}<meta itemprop="address" content="{{ site.resume.contact.address }}"/>{% endif %}

<header class="page-header">
  {% if site.gravatar_hash %}
  <img src="https://www.gravatar.com/avatar/{{ site.gravatar_hash }}?size=100" alt="my photo" class="avatar no-print" itemprop="image">
  {% endif %}
  <h1 class="header-name" itemprop="name">{{ site.resume.header.name }}</h1>
  {% if site.resume.header.display_contact_info %}
  <div class="header-contact-info">
    <p>{% for item in site.resume.contact %}<span>{{ item[1] }}{% if forloop.last %}{% else %} &bull; {% endif %}</span>{% endfor %}</p>
  </div>
  {% endif %}
  <div class="title-bar no-print">
    <h2 class="header-title" itemprop="jobTitle">{{ site.resume.header.current_title }}</h2>
    {% if site.resume.social %}
    <ul class="icon-links">
      {% for item in site.resume.social %}
      <li class="icon-link-item">
        <a href="{{ item[1] }}" class="icon-link" itemprop="sameAs" target="_blank">
          {% case item[0] %}
            {% when "GitHub"    %}<img src="/img/socialicons/github.svg">
            {% when "Twitter"   %}<img src="/img/socialicons/twitter.svg">
            {% when "Medium"    %}<img src="/img/socialicons/medium.svg">
            {% when "Dribbble"  %}<img src="/img/socialicons/dribbble.svg">
            {% when "Facebook"  %}<img src="/img/socialicons/facebook.svg">
            {% when "LinkedIn"  %}<img src="/img/socialicons/linkedin.svg">
            {% when "Instagram" %}<img src="/img/socialicons/instagram.svg">
            {% when "Website"   %}<img src="/img/socialicons/website.svg">
          {% endcase %}
        </a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  <div class="executive-summary" itemprop="description"><p>{{ site.resume.header.intro }}</p></div>
  {% if site.resume.header.looking_for_work %}
  {% if site.resume.contact.email %}
  <a href="mailto:{{ site.resume.contact.email }}" class="contact-button no-print" itemprop="email">Contact me</a>
  {% endif %}
  {% else %}
  <a class="contact-button not-looking no-print">I'm not looking for work right now.</a>
  {% endif %}
</header>

{% if site.resume.sections.experience %}
<section class="content-section">
  <header class="section-header"><h2>Experience</h2></header>
  {% for job in site.data.experience %}
  <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
    <img src="{{ job.logo }}" class="company-logo">
    <h3 class="resume-item-title" itemprop="name" style="display: inline-block;">
      {% if job.url %}<a href="{{ job.url }}" itemprop="url">{{ job.company }}</a>{% else %}{{ job.company }}{% endif %}
    </h3>
    <br>
    {% for position in job.positions %}
      {% assign jobstartdays = position.startdate | date: "%s" | divided_by: 86400 %}
      {% assign jobendedays = position.enddate | default: 'now' | date: "%s" | divided_by: 86400 %}
      {% assign jobdiffdays = jobendedays | minus: jobstartdays %}
    <h4 class="resume-item-details" itemprop="description" style="display: inline-block; margin-bottom: 0px;">{{ position.title }}</h4>
    <span>
      &bull;
      {{ position.startdate | date: "%b, %Y" }}
      &mdash;
      {{ position.enddate | date: "%b, %Y" | default: "Present" }}
      &bull;
      {{ jobdiffdays | divided_by: 365.25 | floor }} yrs {{ jobdiffdays | modulo: 365.25 | divided_by: 30.4375 | round  }} mos
    </span>
    <p class="resume-item-copy">
      {{ position.summary }}
      {% if position.projects %}
      <ul class="resume-item-list">
        {% for project in position.projects %}<li>{{ project }}</li>{% endfor %}
      </ul>
      {% endif %}
    </p>
    {% endfor %}
  </div>
  {% endfor %}
</section>
{% endif %}

{% if site.resume.sections.education %}
<section class="content-section">
  <header class="section-header"><h2>Education</h2></header>
  {% for education in site.data.education %}
  <div class="resume-item" itemscope itemprop="alumniOf" itemtype="http://schema.org/CollegeOrUniversity">
    <h3 class="resume-item-title" itemprop="name">{{ education.uni }}</h3>
    <h4 class="resume-item-details group" itemprop="description">{{ education.degree }} &bull; {{ education.year }}</h4>
    <h5 class="resume-item-details award-title" itemprop="description">{{ education.award }}</h5>
    <p class="resume-item-copy" itemprop="description">
      {% if education.awards %}
      <ul class="resume-item-list">
        {% for award in education.awards %}<li>{{ award.award }}</li>{% endfor %}
      </ul>
      {% endif %}
    <p class="resume-item-copy">{{ education.summary }}</p>
  </div>
  {% endfor %}
</section>
{% endif %}

{% if site.resume.sections.projects %}
<section class="content-section">
  <header class="section-header"><h2>Projects</h2></header>
  {% for project in site.data.projects %}
  <div class="resume-item" itemscope itemtype="http://schema.org/CreativeWork">
    <meta itemprop="creator" content="{{ site.resume_name }}" itemtype="http://schema.org/Person" />
    <h3 class="resume-item-title" itemprop="name">{% if project.url %}<a href="{{ project.url }}" itemprop="url">{{ project.project }}</a>{% else %}{{ project.project }}{% endif %}</h3>
    <h4 class="resume-item-details" itemprop="description">{{ project.role }}  &bull; {{ project.duration }}</h4>
    <p class="resume-item-copy">{{ project.description }}</p>
  </div>
  {% endfor %}
</section>
{% endif %}

{% if site.resume.sections.skills %}
<section class="content-section">
  <header class="section-header"><h2>Skills</h2></header>
  {% for skill in site.data.skills %}
  <div class="resume-item">
    <h4 class="resume-item-details">{{ skill.skill }}</h4>
    <p class="resume-item-copy">{{ skill.description }}</p>
  </div>
  {% endfor %}
</section>
{% endif %}

{% if site.resume.sections.recognition %}
<section class="content-section">
  <header class="section-header"><h2>Recognition</h2></header>
  {% for recognition in site.data.recognitions %}
  <div class="resume-item">
    <h3 class="resume-item-title" itemprop="award">{{ recognition.award }}</h3>
    <h4 class="resume-item-details">{{ recognition.organization }} &bull; {{ recognition.year }}</h4>
    <p class="resume-item-copy">{{ recognition.summary }}</p>
  </div>
  {% endfor %}
</section>
{% endif %}

{% if site.resume.sections.associations %}
<section class="content-section">
  <header class="section-header"><h2>Associations</h2></header>
  {% for association in site.data.associations %}
  <div class="resume-item" itemscope itemprop="memberOf" itemtype="http://schema.org/Organization">
    <h3 class="resume-item-title" itemprop="name">{% if association.url %}<a href="{{ association.url }}">{{ association.organization }}</a>{% else %}{{ association.organization }}{% endif %}</h3>
    <h4 class="resume-item-details" itemprop="description">{{ association.role }} &bull; {{ association.year }}</h4>
    <p class="resume-item-copy">{{ association.summary }}</p>
  </div>
  {% endfor %}
</section>
{% endif %}

{% if site.resume.sections.interests %}
<section class="content-section">
  <header class="section-header"><h2>Outside Interests</h2></header>
  <div class="resume-item">
    <ul class="resume-item-list">
      {% for interest in site.data.interests %}<li>{{ interest.description }}</li>{% endfor %}
    </ul>
  </div>
</section>
{% endif %}

{% if site.resume.sections.links %}
<section class="content-section">
  <header class="section-header"><h2>Additional Links</h2></header>
  <div class="resume-item">
    <ul class="resume-item-list">
      {% for link in site.data.links %}<li><a href="{{ link.url }}" itemprop="url">{{ link.description }}</a></li>{% endfor %}
    </ul>
  </div>
</section>
{% endif %}

{% if site.resume.sections.social_links %}
<section class="content-section">
  <header class="section-header"><h2>Social Links</h2></header>
  <div class="resume-item">
    {% if site.resume.social %}
    <ul class="resume-item-list">
      {% for item in site.resume.social %}<li><strong>{{ item[0] }}</strong>: <a href="{{ item[1] }}" target="_blank">{{ item[1] }}</a></li>{% endfor %}
    </ul>
    {% endif %}
  </div>
</section>
{% endif %}

{% comment %}
<footer class="page-footer">
  <p class="footer-line">Made by <a href="http://twitter.com/jglovier">@jglovier</a>. Fork me on <a href="https://github.com/jglovier/resume-template">GitHub</a>.</p>
  <p class="footer-line">If this is your live resume, you can modify or remove this part. ;-)</p>
</footer>
{% endcomment %}
